Repository Whirlywack/superoptimisednewweb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

fix: remove old QUESTION_FACTORY system and replace with modern questionnaire workflow
  public/sitemap.xml
  src/app/admin/questionnaires/page.tsx
  src/app/admin/questions/new/page.tsx
  src/app/admin/questions/page.tsx
  src/components/admin/AdminNavigation.tsx
Due: eslint --fix, prettier --write

fix: remove extra black header from questionnaire builder for UI consistency
  src/app/admin/questionnaires/new/page.tsx
Due: eslint --fix, prettier --write

feat: complete Phase 8.2.5 admin dashboard data integration
  README.md
  docs/admin-dashboard.md
  docs/application-sitemap.md
  docs/phase-8.2.5-implementation-guide.md
  docs/tasks.md
  package-lock.json
  package.json
  public/sitemap.xml
  scripts/test-admin-complete.ts
  scripts/test-admin-integration.ts
  src/app/admin/analytics/page.tsx
  src/app/admin/content/page.tsx
  src/app/admin/questionnaires/new/page.tsx
  src/app/admin/questionnaires/page.tsx
  src/app/admin/questionnaires/templates/page.tsx
  src/app/api/claim-xp/route.ts
  src/app/journey/[slug]/not-found.tsx
  src/app/journey/[slug]/page.tsx
  src/app/sitemap.xml/route.ts
  src/components/accessibility/AnnounceRegion.tsx
  src/components/accessibility/FocusTrap.tsx
  src/components/accessibility/ScreenReaderText.tsx
  src/components/admin/AdminDashboardClient.tsx
  src/components/admin/AnalyticsDashboardClient.tsx
  src/components/admin/ContentDashboardClient.tsx
  src/components/admin/QuestionListClient.tsx
  src/components/admin/QuestionScheduleModal.tsx
  src/components/admin/QuestionnairesDashboardClient.tsx
  src/components/dev/TypographyScale.tsx
  src/components/mobile/OneHandedInput.tsx
  src/lib/api/root.ts
  src/lib/api/routers/analyticsRouter.ts
  src/lib/api/routers/contentRouter.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: complete admin dashboard data integration with real database APIs
  prisma/schema.prisma
  public/sitemap.xml
  scripts/seed-database.ts
  src/components/admin/AdminDashboardClient.tsx
  src/components/admin/AnalyticsDashboardClient.tsx
  src/components/admin/ContentDashboardClient.tsx
  src/components/admin/QuestionnairesDashboardClient.tsx
  src/components/mobile/OneHandedInput.tsx
  src/components/mobile/ResponsiveGrid.tsx
  src/components/mobile/SwipeRating.tsx
  src/components/mobile/TapToRank.tsx
  src/components/mobile/TouchTarget.tsx
  src/components/molecules/Breadcrumb.tsx
  src/components/molecules/CommunityQuote.tsx
  src/components/molecules/NewsletterSignup.tsx
  src/components/molecules/SearchInput.tsx
  src/components/molecules/TechDebtTolerance.tsx
  src/components/organisms/AuthForm.tsx
  src/components/organisms/ConditionalLogic.tsx
  src/components/organisms/ContactSection.tsx
  src/components/organisms/FeatureGrid.tsx
  src/components/organisms/JourneyTimeline.tsx
  src/components/organisms/MarkdownRenderer.tsx
  src/components/organisms/ProgressHeader.tsx
  src/components/organisms/ProjectTimeline.tsx
  src/components/organisms/QuestionCard.tsx
  src/components/organisms/QuestionFlow.tsx
  src/components/templates/Homepage/HeroSection/DualInteractivePolls.tsx
  src/lib/api/routers/analyticsRouter.ts
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write, prisma format

feat: implement drag and drop question reordering with real database integration
  package-lock.json
  package.json
  prisma/migrations/20250709161842_add_content_templates/migration.sql
  prisma/migrations/20250709173801_add_content_type_to_posts/migration.sql
  prisma/schema.prisma
  public/sitemap.xml
  scripts/check-template.ts
  scripts/create-content-template.ts
  scripts/fix-template.ts
  scripts/seed-database.ts
  scripts/update-template-content.ts
  src/app/admin/posts/edit/[id]/page.tsx
  src/app/admin/posts/new/page.tsx
  src/components/admin/AnalyticsDashboardClient.tsx
  src/components/admin/ContentDashboardClient.tsx
  src/components/admin/PostEditorClient.tsx
  src/components/admin/QuestionListClient.tsx
  src/components/admin/QuestionnairesDashboardClient.tsx
  src/components/dev/PropsTable.tsx
  src/components/ui/ProgressIndicator.tsx
  src/components/ui/ProjectStatus.tsx
  src/components/ui/RatingInput.tsx
  src/components/ui/SkipControl.tsx
  src/lib/api/routers/adminRouter.ts
  src/lib/api/routers/blogRouter.ts
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write, prisma format

feat: complete Phase 8.3 & 8.4 - comprehensive admin dashboard enhancement
  public/sitemap.xml
  src/app/admin/content-preview/page.tsx
  src/app/admin/posts/page.tsx
  src/app/admin/stats/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AnalyticsDashboardClient.tsx
  src/components/admin/ContentBlockEditor.tsx
  src/components/admin/ContentPreviewWorkflow.tsx
  src/components/admin/PostListClient.tsx
  src/components/admin/ProjectStatsManager.tsx
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write

fix: resolve comprehensive test suite failures and enhance Jest configuration
  jest.setup.js
  public/sitemap.xml
  src/app/robots.txt/__tests__/route.test.ts
  src/app/sitemap.xml/__tests__/route.test.ts
  src/components/molecules/FeatureVoting.test.tsx
  src/components/molecules/TechStackSelector.test.tsx
  src/components/molecules/TextFeedback.test.tsx
  src/components/ui/Tag.tsx
  src/lib/api/routers/__tests__/background-jobs.test.ts
Due: eslint --fix, prettier --write

docs: update tasks.md with completed test suite infrastructure overhaul
  docs/tasks.md
Due: prettier --write

feat: add comprehensive API integration test suite
  docs/tasks.md
  src/components/ui/ErrorBoundary.tsx
  src/components/ui/LoadingState.tsx
  src/components/ui/RealTimeIndicator.tsx
  src/lib/api/routers/__tests__/admin-dashboard-integration.test.ts
  src/lib/api/routers/__tests__/full-system-integration.test.ts
  src/lib/api/routers/__tests__/question-activation.test.ts
  src/lib/api/routers/__tests__/questionnaire-integration.test.ts
  src/lib/api/routers/__tests__/vote-duplicate-prevention-simple.test.ts
  src/lib/api/routers/__tests__/vote-duplicate-prevention.test.ts
  src/lib/api/routers/__tests__/voting-flow-integration.test.ts
  src/lib/api/routers/__tests__/xp-calculation.test.ts
Due: eslint --fix, prettier --write

feat: complete comprehensive test coverage and system validation
  docs/tasks.md
  src/app/admin/layout.tsx
  src/components/admin/AdminDashboardClient.tsx
Due: eslint --fix, prettier --write

fix: restore AdminDashboardClient.tsx to working state
  src/components/admin/AdminDashboardClient.tsx
Due: eslint --fix, prettier --write

feat: complete Phase 2 Enhanced UX questionnaire builder features
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
Due: eslint --fix, prettier --write

feat: implement advanced filtering for questionnaire builder
  docs/tasks.md
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
Due: eslint --fix, prettier --write

feat: integrate OpenAI API for AI-powered questionnaire features
  docs/tasks.md
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

feat: implement AI-powered option generation for multi-choice questions (Task 8.2.5.16)
  docs/tasks.md
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

test: add comprehensive test coverage for AI option generation feature
  public/sitemap.xml
  src/lib/api/routers/__tests__/ai-option-generation-unit.test.ts
  src/lib/api/routers/__tests__/ai-option-generation.test.ts
Due: eslint --fix, prettier --write

docs: mark Task 8.2.5.16 complete with comprehensive implementation summary
  docs/tasks.md
Due: prettier --write

chore: update sitemap timestamp from build process
  public/sitemap.xml
Due: none

feat: complete Task 8.2.5.17 - Smart questionnaire templates with AI-generated templates based on research goals
  src/app/admin/questionnaires/new/page.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

feat: complete Task 8.2.5.18 - Question flow optimization with AI suggestions for optimal question ordering
  src/app/admin/questionnaires/new/page.tsx
  src/components/dev/TypographyScale.tsx
  src/components/ui/ErrorBoundary.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

fix: resolve ESLint errors and complete comprehensive system verification
  docs/tasks.md
  public/sitemap.xml
  src/app/journey/[slug]/__tests__/metadata.test.tsx
  src/components/mobile/MobileNav.tsx
  src/components/mobile/OneHandedInput.tsx
  src/components/mobile/ResponsiveGrid.tsx
  src/components/mobile/SwipeRating.tsx
  src/components/mobile/TapToRank.tsx
  src/components/molecules/ABTestQuestion.tsx
  src/components/molecules/Card.tsx
  src/components/molecules/CommunityQuote.tsx
  src/components/molecules/DifficultyRating.tsx
  src/components/molecules/FeatureVoting.tsx
  src/components/molecules/FilterButtonGroup.tsx
  src/components/molecules/NewsletterSignup.tsx
  src/components/molecules/PostPreview.tsx
  src/components/molecules/PriorityMatrix.test.tsx
  src/components/molecules/PriorityMatrix.tsx
  src/components/molecules/RatingQuestion.tsx
  src/components/molecules/StatsDisplay.tsx
  src/components/molecules/TechDebtTolerance.tsx
  src/components/molecules/TechStackSelector.tsx
  src/components/organisms/ArticleList.tsx
  src/components/organisms/AuthForm.tsx
  src/lib/api/routers/__tests__/questionRouter-fixed.test.ts
  src/lib/api/routers/__tests__/questionRouter.test.ts
  src/lib/api/routers/__tests__/vote-duplicate-prevention-simple.test.ts
  src/lib/api/routers/__tests__/vote-duplicate-prevention.test.ts
  src/lib/api/routers/__tests__/voteRouter.test.ts
  src/lib/api/routers/__tests__/voting-flow-integration.test.ts
  src/lib/api/routers/__tests__/xp-calculation.test.ts
Due: eslint --fix, prettier --write

feat: implement AI-powered content analysis for question quality and bias detection (Task 8.2.5.19)
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
  src/components/admin/ContentAnalysisPanel.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

feat: implement AI-powered automated question tagging system
  docs/tasks.md
  public/sitemap.xml
  src/app/admin/questionnaires/new/page.tsx
  src/components/admin/QuestionTagsPanel.tsx
  src/lib/api/routers/adminRouter.ts
Due: eslint --fix, prettier --write

docs: mark Task 8.2.5.20 (automated tagging) as complete
  docs/tasks.md
Due: prettier --write

feat: implement comprehensive real-time voting analytics with CSV export
  README.md
  src/components/admin/AnalyticsDashboardClient.tsx
  src/lib/api/routers/analyticsRouter.ts
Due: eslint --fix, prettier --write

fix: remove hardcoded data from analytics and add comprehensive tests
  docs/tasks.md
  public/sitemap.xml
  src/lib/api/routers/__tests__/analytics.test.ts
  src/lib/api/routers/analyticsRouter.ts
Due: eslint --fix, prettier --write

feat: implement Task 8.4.1 - comprehensive content block editing interface
  docs/tasks.md
  public/sitemap.xml
  src/components/admin/ContentBlockEditor.tsx
  src/components/admin/ContentDashboardClient.tsx
  src/lib/api/routers/__tests__/content-blocks.test.ts
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write

feat: complete Phase 8.4 Content Management Interface tasks
  docs/tasks.md
  src/components/admin/ContentBlockEditor.tsx
  src/components/admin/ContentDashboardClient.tsx
Due: eslint --fix, prettier --write

fix: resolve critical ESLint errors for production build
  public/sitemap.xml
  src/components/organisms/CommunityVoices.tsx
  src/components/organisms/ContactSection.tsx
  src/components/organisms/CurrentFocus.tsx
  src/components/organisms/FAQAccordion.tsx
  src/components/organisms/FeatureGrid.tsx
  src/components/organisms/HeroSection.tsx
  src/components/organisms/JourneyTimeline.tsx
  src/components/organisms/MissionStatement.tsx
  src/components/organisms/StatsBar.tsx
  src/components/organisms/TestimonialCarousel.tsx
  src/components/organisms/ThankYouScreen.tsx
  src/components/templates/AboutMission.tsx
  src/components/templates/Homepage.tsx
  src/components/templates/JourneyPage/MidNewsletterCTA.tsx
  src/components/templates/SearchResults.tsx
  src/components/ui/ClaimXpModal.tsx
  src/components/ui/Divider.tsx
  src/lib/api/routers/__tests__/admin-dashboard-integration.test.ts
  src/lib/api/routers/__tests__/error-handling.test.ts
  src/lib/api/routers/__tests__/full-system-integration.test.ts
  src/lib/api/routers/__tests__/question-activation.test.ts
  src/lib/api/routers/__tests__/questionnaire-integration.test.ts
  src/lib/api/routers/__tests__/rate-limiting.test.ts
  src/lib/api/routers/__tests__/statistics-xp.test.ts
Due: eslint --fix, prettier --write

feat: establish production-ready development environment with E2E testing
  package-lock.json
  package.json
  playwright-report/data/8188e32c0faf6165f5c7c28c1c5ba0db3855c2de.md
  playwright-report/index.html
  playwright.config.ts
  public/sitemap.xml
  src/components/organisms/Navigation.tsx
  src/components/organisms/ProjectShowcase.tsx
  src/components/organisms/ResourceLibrary.tsx
  src/components/organisms/TestimonialCarousel.tsx
  src/components/organisms/ThankYouScreen.tsx
  src/components/templates/AboutMission.tsx
  src/components/templates/ContactForm.tsx
  src/components/templates/DocSiteLayout.tsx
  src/components/templates/ErrorPage.tsx
  src/components/templates/Homepage.tsx
  src/components/templates/IndividualPost.tsx
  src/components/templates/JourneyTimeline.tsx
  src/components/templates/MagicLinkForm.tsx
  src/components/templates/MarketingLayout.tsx
  src/components/templates/ProjectPortfolio.tsx
  test-results/.last-run.json
  test-results/homepage-Homepage-should-load-successfully-chromium/error-context.md
  tests/e2e/accessibility.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
  prisma format: any of: *.prisma
