Repository Whirlywack/superoptimisednewweb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

fix: correct logo sizing and button text readability
  src/components/templates/AboutPage.tsx
  src/components/templates/Homepage/HomepageNavigation.tsx
  src/components/templates/JourneyPage/JourneyHero.tsx
Due: eslint --fix, prettier --write

fix: post page text colors and header consistency
  src/components/templates/Homepage/NewsletterSection.tsx
  src/components/templates/JourneyPage/JourneyTimeline.tsx
  src/components/templates/PostPage/PostContent.tsx
  src/components/templates/PostPage/PostHeader.tsx
Due: eslint --fix, prettier --write

feat: standardize heading sizes and spacing across 3 main pages
  src/components/templates/AboutPage.tsx
  src/components/templates/JourneyPage/JourneyTimeline.tsx
  src/components/templates/PostPage/PostHeader.tsx
Due: eslint --fix, prettier --write

fix: align Take Action block to left on About page
  src/components/templates/AboutPage.tsx
Due: eslint --fix, prettier --write

feat: begin interactive database integration for community-driven features
  .gitignore
  docs/comprehensive-summary.md
  docs/frontend/superoptimised-post-page.html
  docs/frontend/superoptimised_about_page.html
  docs/typography-reference.md
  docs/website-2.md
  src/app/page.stories.tsx
  src/app/research/complete/page.tsx
  src/app/research/page.tsx
  src/components/templates/AboutPage.tsx
  src/components/templates/Homepage/HomepageNavigation.tsx
  src/components/templates/ResearchCompletePage.tsx
  src/components/templates/ResearchPage.tsx
Due: eslint --fix, prettier --write

feat: implement comprehensive database schema for interactive features
  docs/database-schema.md
  prisma/schema.prisma
Due: prettier --write, prisma format

feat: implement database migration and seed data for interactive features
  package-lock.json
  package.json
  prisma/migrations/20250706162320_add_interactive_features_schema/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/seed.ts
Due: eslint --fix, prettier --write

docs: create comprehensive task breakdown for interactive features
  docs/tasks.md
Due: prettier --write

feat: implement Phase 1 tRPC API foundation
  docs/website-2.md
  src/lib/api/errors.ts
  src/lib/api/root.ts
  src/lib/api/routers/contentRouter.ts
  src/lib/api/routers/questionRouter.ts
  src/lib/api/routers/voteRouter.ts
  src/lib/api/schemas.ts
  src/lib/api/trpc.ts
Due: eslint --fix, prettier --write

feat: complete Phase 1 - Core voting system with anonymous tokens
  src/lib/api/routers/voteRouter.ts
  src/lib/api/trpc.ts
  src/lib/api/voterToken.ts
Due: eslint --fix, prettier --write

docs: update README with Phase 1 interactive features
  README.md
Due: prettier --write

feat: complete Phase 2 - Real-time Updates & WebSocket Integration
  docs/supabase-setup.sql
  src/hooks/useRealtimeStats.ts
  src/hooks/useRealtimeVotes.ts
  src/lib/api/routers/contentRouter.ts
  src/lib/api/routers/voteRouter.ts
  src/lib/api/statsCache.ts
  src/lib/api/voterToken.ts
  src/lib/supabase.ts
Due: eslint --fix, prettier --write

docs: update README with Phase 2 real-time features
  README.md
Due: prettier --write

docs: mark Phase 1 & 2 tasks as completed in tasks.md
  docs/tasks.md
Due: prettier --write

fix: enforce coding standards compliance across Phase 1 & 2
  src/lib/api/errors.ts
  src/lib/api/routers/contentRouter.ts
  src/lib/api/routers/questionRouter.ts
  src/lib/api/statsCache.ts
  src/lib/api/voterToken.ts
  src/lib/supabase.ts
Due: eslint --fix, prettier --write

feat: implement Phase 3 frontend integration with tRPC APIs
  package-lock.json
  package.json
  src/components/templates/Homepage/CommunityProof.tsx
  src/components/templates/Homepage/HeroSection/DualInteractivePolls.tsx
  src/hooks/useActiveQuestions.ts
  src/hooks/useCommunityStats.ts
  src/hooks/useVoteSubmission.ts
Due: eslint --fix, prettier --write

feat: complete Phase 3 frontend integration - replace all hardcoded stats with live data
  src/components/templates/AboutPage.tsx
  src/components/templates/Homepage/HeroSection/ProgressIndicator.tsx
  src/components/templates/JourneyPage/JourneyHero.tsx
  src/hooks/useProjectStats.ts
Due: eslint --fix, prettier --write

docs: comprehensive README update documenting Phase 3 live data integration
  README.md
Due: prettier --write

feat: implement Phase 4 XP System & Engagement Tracking
  docs/dynamic-update-system.md
  src/app/api/claim-xp/route.ts
  src/app/claim-xp/error/page.tsx
  src/app/claim-xp/invalid/page.tsx
  src/app/claim-xp/success/page.tsx
  src/app/journey/page.tsx
  src/components/ui/ClaimXpModal.tsx
  src/hooks/useClaimXp.ts
  src/lib/api/routers/voteRouter.ts
  src/lib/api/schemas.ts
  src/lib/email/sendEmail.ts
  src/lib/email/templates/XpClaimEmail.tsx
Due: eslint --fix, prettier --write

docs: update README with comprehensive Phase 4 XP System documentation
  README.md
Due: prettier --write

fix: add missing XpClaim database model and migration
  prisma/migrations/20250706182032_add_xp_claim_table/migration.sql
  prisma/schema.prisma
Due: prisma format

fix: minor linting cleanups in XP system components
  src/components/ui/ClaimXpModal.tsx
  src/hooks/useClaimXp.ts
Due: eslint --fix, prettier --write

feat: complete Phase 4 implementation with daily analytics & task documentation
  docs/tasks.md
  src/app/claim-xp/error/page.tsx
  src/app/claim-xp/invalid/page.tsx
  src/app/claim-xp/success/page.tsx
  src/lib/api/routers/voteRouter.ts
  src/lib/email/templates/XpClaimEmail.tsx
Due: eslint --fix, prettier --write

feat: complete Phase 5 Content Management System with real-time timeline
  docs/web2.md
  prisma/schema.prisma
  src/app/about/page.tsx
  src/app/auth/verify/page.tsx
  src/app/timeline/page.tsx
  src/components/organisms/ProjectProgress.stories.tsx
  src/components/organisms/ProjectProgress.tsx
  src/components/organisms/ProjectTimeline.tsx
  src/components/templates/AboutPage.tsx
  src/components/templates/AboutPageWrapper.tsx
  src/components/templates/Homepage/HeroSection/ProjectAnnouncement.tsx
  src/components/templates/ProjectTimelinePage.tsx
  src/hooks/useProjectProgress.ts
  src/hooks/useProjectTimeline.ts
  src/lib/api/routers/contentRouter.ts
  src/lib/api/routers/voteRouter.ts
  src/lib/content-blocks.ts
  src/lib/content-versioning.ts
  src/lib/manual-progress-update.ts
  src/lib/milestone-tracker.ts
  src/lib/progress-automation.ts
  test-content-blocks.js
  test-trpc-api.js
Due: eslint --fix, prettier --write, prisma format

docs: update README and dynamic system docs for Phase 5 completion
  README.md
  docs/dynamic-update-system.md
Due: prettier --write

feat: redesign project timeline page for visual consistency
  src/components/templates/ProjectTimelinePage.tsx
Due: eslint --fix, prettier --write

refactor: remove timeline page as it wasn't the correct task implementation
  src/app/timeline/page.tsx
  src/components/templates/ProjectTimelinePage.tsx
  src/hooks/useProjectTimeline.ts
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write

feat: integrate real milestone data into journey page timeline
  src/components/organisms/ProjectTimeline.tsx
  src/components/templates/JourneyPage/JourneyTimeline.tsx
  src/hooks/useProjectTimeline.ts
  src/lib/api/routers/contentRouter.ts
Due: eslint --fix, prettier --write

feat: implement Task 5.3.1 - complete blog posts API with pagination
  README.md
  docs/dynamic-update-system.md
  docs/tasks.md
  jest.config.js
  prisma/migrations/20250706214833_add_blog_posts_and_content_versioning/migration.sql
  prisma/seed.ts
  src/components/organisms/__tests__/ProjectTimeline.test.tsx
  src/hooks/__tests__/useProjectTimeline.test.ts
  src/hooks/useBlogPosts.ts
  src/lib/api/root.ts
  src/lib/api/routers/__tests__/blogRouter.test.ts
  src/lib/api/routers/__tests__/contentRouter.test.ts
  src/lib/api/routers/blogRouter.ts
  src/lib/api/schemas.ts
Due: eslint --fix, prettier --write

feat: enhance markdown rendering system with enterprise-grade features
  README.md
  docs/dynamic-update-system.md
  docs/tasks.md
  package-lock.json
  package.json
  src/components/organisms/MarkdownRenderer.tsx
  src/components/templates/BlogPostViewer.tsx
  src/components/templates/JourneyPage/JourneyPostsTimeline.tsx
  src/components/templates/JourneyPage/JourneyTimeline.tsx
Due: eslint --fix, prettier --write

fix: remove unused useEffect and LiveAnnouncer imports in AnnounceRegion.stories.tsx
  src/components/accessibility/AnnounceRegion.stories.tsx
Due: eslint --fix, prettier --write

feat: implement dynamic post slug-based routing (/journey/[slug])
  README.md
  docs/dynamic-update-system.md
  docs/lint-fix.md
  docs/tasks.md
  src/app/journey/[slug]/__tests__/metadata.test.tsx
  src/app/journey/[slug]/__tests__/page.test.tsx
  src/app/journey/[slug]/not-found.tsx
  src/app/journey/[slug]/page.tsx
  src/components/templates/BlogPostViewer.tsx
Due: eslint --fix, prettier --write

fix: resolve Jest ESM module compatibility issues
  jest.config.js
  src/__mocks__/react-markdown.js
  src/__mocks__/react-syntax-highlighter.js
  src/__mocks__/rehype-sanitize.js
Due: eslint --fix, prettier --write

feat: implement Phase 5.4 SEO & crawl optimization
  package.json
  public/og-default.png
  public/robots.txt
  public/sitemap.xml
  scripts/generate-static-seo.ts
  src/app/journey/[slug]/page.tsx
  src/app/robots.txt/__tests__/route.test.ts
  src/app/robots.txt/route.ts
  src/app/sitemap.xml/__tests__/route.test.ts
  src/app/sitemap.xml/route.ts
  src/components/dev/ColorSwatch.tsx
  src/lib/utils/__tests__/seo.test.ts
  src/lib/utils/seo.ts
Due: eslint --fix, prettier --write

docs: mark Phase 5.4 SEO & crawl optimization as complete
  docs/tasks.md
Due: prettier --write

fix: resolve metadataBase warning in dev server
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix: convert ProjectAnnouncement to client component with tRPC
  src/components/templates/Homepage/HeroSection/ProjectAnnouncement.tsx
Due: eslint --fix, prettier --write

docs: analyze Phase 6 Advanced Question Types architecture and design requirements
  README.md
  docs/lint-fix.md
  docs/stories.md
  public/sitemap.xml
Due: prettier --write

feat: implement Phase-Grouped Posts journey page with design system compliance
  docs/design-rubric.md
  docs/enchanced-brand-guide.md
  public/sitemap.xml
  src/components/templates/JourneyPage/BlogPostCard.tsx
  src/components/templates/JourneyPage/JourneyPostsTimeline.tsx
  src/components/templates/JourneyPage/JourneyTimeline.tsx
  src/components/templates/JourneyPage/PhaseHeader.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
  prisma format: any of: *.prisma
